/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  min-width: 420px !important;
  font-family: 'Microsoft YaHei';
}
ul,
li {
  padding: 0;
  list-style-type: none;
}
a:hover,
a {
  text-decoration: none !important;
}

.fix-header {
  margin: 0 auto;
  max-width: 1168px;
}

/* element-ui menu is-active class */
.header-menu > .el-menu-item.is-active::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  height: 4px;
  width: 100%;
  content: '';
  background: #2c5b39;
}
.header-menu > .el-menu-item::after {
  position: absolute;
  bottom: -5px;
  left: 50%;
  height: 4px;
  width: 0;
  content: '';
  background: #2c5b39;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transition: linear 0.2s all;
  -webkit-transition: linear 0.2s all;
  z-index: 1;
}
.header-menu > .el-menu-item:hover::after {
  width: 100%;
}
/* 接口图标 */
.api-icon {
  height: 72px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media screen and (max-width: 1200px) {
  .api-icon {
    transform: translate(-5%, 0);
  }
}

/* 阿里字体颜色 */
.icon-qq,
.icon-weixin,
.icon-weibo {
  font-size: 18px/1;
  color: #2c5b39;
}
.icon-youjian,
.icon-dianhua,
.icon-dizhi {
  color: #dddddd;
}
.icon-weixin {
  margin: 0 18px;
}
